body {
    background-color: #575b63;
}
.buttonContainer {
  display: inline-block;
  text-align: center;
}
.btn-group {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

p {
  color: white;
  font-size: 40px;
  text-align: center;
}

.foodMenu {
  text-align: center;
}

.drinkMenu {
  text-align: center;
}

